{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}Login{% endblock title %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/lock_and_key.ico' %}">
{% endblock favicon %}

{% block style %}
  {{ block.super }}
  <!-- {% bootstrap_css %} -->
{% endblock style %}

{% block content %}
<h1>Login</h1>
<div class="container mt-5">
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          {{ form.non_field_errors }}
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock content %}
