[submodule "Projects/MiniShell/minishell"]
	path = Projects/MiniShell/minishell
	url = git@github.com:Tablerase/MiniShell.git
[submodule "Projects/Cube3D/cub3D"]
	path = Projects/Cube3D/cub3D
	url = git@github.com:Tablerase/42_Cub3D.git
[submodule "Projects/WebServ/WebServ-Wiki"]
	path = Projects/WebServ/WebServ-Wiki
	url = https://github.com/Tablerase/42_WebServ.wiki.git
    branch = master
[submodule "Projects/WebServ/WebServ-Projet"]
	path = Projects/WebServ/WebServ-Projet
	url = git@github.com:Tablerase/42_WebServ.git
    branch = main
[submodule "Projects/Inception/inception"]
	path = Projects/Inception/inception
	url = git@github.com:Tablerase/42_Inception.git
	branch = main
[submodule "Projects/Transcendence/42_Transcendence"]
	path = Projects/Transcendence/42_Transcendence
	url = git@github.com:Tablerase/42_Transcendence.git
[submodule "Projects/Transcendence/42_Transcendence.wiki"]
	path = Projects/Transcendence/42_Transcendence.wiki
	url = git@github.com:Tablerase/42_Transcendence.wiki.git
