<!DOCTYPE html>
{% load static %} {% load django_bootstrap5 %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Base Template{% endblock title %}</title>
    {% block favicon %}
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'base/favicon/favicon.ico' %}"
    />
    {% endblock favicon %} {% block style %} {% bootstrap_css %}
    {%bootstrap_javascript %} {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'base/css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'base/css/colors.css' %}" />
    {% endblock style %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block script_head %}{% endblock script_head %}
  </head>
  <body>
    <header>{% include 'navbar.html' %}</header>

    <main class="d-flex justify-content-center" id="background-container">
      <div class="container">
        {% block content %} Base template content {% endblock content %}
      </div>
    </main>

    <footer></footer>
    {% block script_body %}{% endblock script_body %}
  </body>
</html>
