{% extends 'base.html' %}

{% block title %}Exercise 03: Fifty shades of bic{% endblock title %}

{% block content %}
{% comment %}
  Table of shades of colors black, red, green, blue
    - each column a color
    - each raw a different shade 
{% endcomment %}
<table>
  <tr>
    {% for color in colors %}
    <th>{{ color }}</th>
    {% endfor %}
  </tr>
{% for i in range %}
  <tr>
  {% for color in colors %}
  <td style="background-color: {{ shades_of_colors[color][i] }};">.</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>

{% endblock content %}
