<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{title}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: url('https://www.transparenttextures.com/patterns/otis-redding.png'), #494949;
      color: #333;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      background-color: rgba(255, 255, 255, 0.815);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1, h2 {
      color: coral;
    }
    table, th, td {
      border: solid 2px;
      border-collapse: collapse;
      border-color: coral;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>{name} {surname}</h1>
    <p>{age} years old</p>
    <p>{job} at {school}</p>
    <h2>Skills</h2>
    <table>
      <thead>
        <tr>
          <th colspan="5">✏️ Languages</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>C</td>
          <td>C++</td>
          <td>Python</td>
          <td>HTML</td>
          <td>CSS</td>
        </tr>
      </tbody>
    </table>
    <h2>Experiences</h2>
    <ol>
      <li>{job1}</li>
      <li>{job2}</li>
    </ol>
    <h2>Education and Courses</h2>
    <ul>
      <li>{diploma2}</li>
      <li>{diploma1}</li>
    </ul>
  </div>
</body>
</html>