<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Base Template{% endblock title %}</title>
  {% block favicon %}
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'base/favicon/favicon.ico' %}">
  {% endblock favicon %}
  {% block style %}
  <link rel="stylesheet" href="{% static 'base/css/navbar.css' %}">
  {% endblock style %}
  {% block script_head %}{% endblock script_head %}
</head>
<body>
<header>
  {% include 'navbar.html' %}
</header>

<main>
{% block content %}  

Base template content

{% endblock content %}  
</main>

<footer>
</footer>
{% block script_body %}{% endblock script_body %}
</body>
</html>