:root {
  /* Enable light-dark function */
  color-scheme: light dark;

  /* Dark mode */
  --dark-primary-color: #b4befe;
  --dark-secondary-color: #4c4f69;
  --dark-accent-color: #f4f4f4;
  --dark-text-color: #cdd6f4;
  --dark-subtext-color: #bac2de;
  --dark-background-color: #333;
  --dark-border-color: #ddd;

  /* Light mode */
  --light-primary-color: #7287fd;
  --light-secondary-color: #4c4f69;
  --light-accent-color: #f4f4f4;
  --light-text-color: #4c4f69;
  --light-subtext-color: #6c6f85;
  --light-background-color: #fff;
  --light-border-color: #444;
}
