{% extends 'base.html' %} {% load static %}
<!-- Title -->
{% block title %} Chat {% endblock title %}
<!-- Content -->
{% block content %}
<div class="container mt-5"">
  <div class="row">
    <div class="col-md-4">
      <a href='{% url "chat_general" %}' class="card-link card-general">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Chat General</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href='{% url "chat_evil" %}' class="card-link card-evil">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Chat Evil</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href='{% url "chat_good" %}' class="card-link card-good">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Chat Good</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    const $backgroundContainer = $("#background-container");

    $(".card-general").hover(
      function () {
        $backgroundContainer.css({
          backgroundImage: 'url("/static/images/general-pattern.svg")',
          backgroundColor: "#f0f8ff",
        });
      },
      function () {
        $backgroundContainer.css({
          backgroundImage: "",
          backgroundColor: "",
        });
      }
    );

    $(".card-evil").hover(
      function () {
        $backgroundContainer.css({
          backgroundImage: 'url("/static/images/evil-pattern.svg")',
          backgroundColor: "#ffe4e1",
        });
      },
      function () {
        $backgroundContainer.css({
          backgroundImage: "",
          backgroundColor: "",
        });
      }
    );

    $(".card-good").hover(
      function () {
        $backgroundContainer.css({
          backgroundImage: 'url("/static/images/good-pattern.svg")',
          backgroundColor: "#e6e6fa",
        });
      },
      function () {
        $backgroundContainer.css({
          backgroundImage: "",
          backgroundColor: "",
        });
      }
    );
  });
</script>

{% endblock content %}
