{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="room-name">{{ room_name }}</h1>
  <div class="row">
    <div class="col-md-8">
      <h2>Chat</h2>
      <div class="form-group">
        <div
          id="chat-log"
          class="form-control"
          style="height: 400px; overflow-y: scroll"
          readonly
        ></div>
      </div>
      <div class="form-group">
        <input
          id="chat-message-input"
          type="text"
          class="form-control"
          placeholder="Type your message here..."
        />
      </div>
      <div class="form-group">
        <button id="chat-message-submit" class="btn btn-primary">Send</button>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Logged Users</h2>
      <ul id="logged-users" class="list-group">
        <!-- Logged users will be appended here -->
      </ul>
    </div>
  </div>
</div>
{{ room_name|json_script:"room-name" }}
<script>
  $(document).ready(function () {
    const roomName = JSON.parse($("#room-name").text());

    const chatSocket = new WebSocket(
      "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
    );

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      // Setup chat at init connexion or refresh
      console.log(data.type);
      console.log(data);

      /**
       * Update Chat log scroll position to stay at bottom of div
       */
      function updateChatLog() {
        const chatLog = $("#chat-log");
        chatLog.scrollTop(chatLog[0].scrollHeight);
      }

      /**
       * Escape HTML to prevent XSS
       */
      function escapeHtml(unsafe) {
        return unsafe
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
      }

      /**
       * Init
       */
      if (data.type === "init") {
        $("#chat-log").html(""); // Clear div cache on refresh
        if (data.messages.length === 0) {
          $("#chat-log").html("No messages for now<br>");
        } else {
          data.messages.forEach((msg) => {
            $("#chat-log").append(
              escapeHtml(msg.author) + " : " + escapeHtml(msg.message) + "<br>"
            );
          });
        }
        updateChatLog();
      }

      /**
       * Users Status
       */
      // Update in chat logged status
      if (data.type === "user_status") {
        if (data.status === "join") {
          $("#chat-log").append(
            escapeHtml(data.user) + " has joined the chat" + "<br>"
          );
          updateChatLog();
        }
        if (data.status === "left") {
          $("#chat-log").append(
            escapeHtml(data.user) + " has left the chat" + "<br>"
          );
          updateChatLog();
        }
      }

      // Update logged user list
      if (data.type === "userlist") {
        $("#logged-users").empty(); // Clear the existing list
        data.users.forEach((user) => {
          const listItem = $("<li>")
            .addClass("list-group-item")
            .text(escapeHtml(user));
          $("#logged-users").append(listItem);
        });
      }

      /**
       * Chat
       */
      if (data.type === "chat") {
        $("#chat-log").append(
          escapeHtml(data.author) + " : " + escapeHtml(data.message) + "<br>"
        );
        updateChatLog();
      }
    };

    chatSocket.onclose = function (e) {
      console.error("Chat socket closed unexpectedly");
    };

    $("#chat-message-input").focus();
    $("#chat-message-input").on("keyup", function (e) {
      if (e.key === "Enter") {
        $("#chat-message-submit").click();
      }
    });

    $("#chat-message-submit").on("click", function (e) {
      const messageInputDom = $("#chat-message-input");
      const message = messageInputDom.val();
      chatSocket.send(JSON.stringify({ message: message }));
      messageInputDom.val("");
    });
  });
</script>

{% endblock content %}
