{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Articles{% endblock title %}

{% block content %}
<h1>Articles</h1>

{% if articles %}
<table border="1">
  <thead>
    {% for field in fields %}
      <th>{{ field }}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      {% for field in fields %}
      <td>
        {{ article|get_attr:field }}
      </td>
      {% endfor %}
    </tr>
    {% empty %}
    <tr>
      <td colspan="{{ fields|length }}">No articles found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <span class="step-links">
    {% if articles.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ articles.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
    </span>

    {% if articles.has_next %}
      <a href="?page={{ articles.next_page_number }}">next</a>
      <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% else %}
No data available
{% endif %}

{% endblock content %}
