{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Publications{% endblock title %}

{% block content %}
<h1>Publications</h1>

{% if publications %}
<table border="1">
  <thead>
    {% for field in fields %}
      {% if field != 'content' and field != 'author' and field != 'id' %}
      <th>{{ field }}</th>
      {% endif %}
    {% endfor %}
  </thead>
  <tbody>
    {% for publication in publications %}
    <tr>
      {% for field in fields %}
        {% if field != 'content' and field != 'author' and field != 'id' %}
        <td>
          {{ publication|get_attr:field }}
        </td>
        {% endif %}
      {% endfor %}
    </tr>
    {% empty %}
    <tr>
      <td colspan="{{ fields|length }}">No publications found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <span class="step-links">
    {% if publications.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ publications.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ publications.number }} of {{ publications.paginator.num_pages }}.
    </span>

    {% if publications.has_next %}
      <a href="?page={{ publications.next_page_number }}">next</a>
      <a href="?page={{ publications.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% else %}
No data available
{% endif %}

{% endblock content %}
