{% extends 'base.html' %}

{% block title %}Ex01: Django, framework web.{% endblock title %}

{% block content %}

<h2>Django Overview</h2>
  
<p>Django is a high-level Python web framework that enables rapid development of secure and maintainable websites.</p>

<h3>Key Features:</h3>
<ul>
  <li>Rapid development capabilities</li>
  <li>Built-in features for common functionalities</li>
  <li>Extensive documentation and supportive community</li>
  <li>Security features to prevent common web vulnerabilities</li>
</ul>

<h3>History:</h3>
<p>Django was originally developed between 2003 and 2005 by Adrian Holovaty and Simon Willison at Lawrence Journal-World newspaper.</p>
<p>It was open-sourced in July 2005 and has since grown into a thriving, collaborative open-source project.</p>
<p>As of 2024, Django had reached version 5.1 .</p>

{% endblock content %}
